.expert-info {
  margin: 0 0 133px 0;
  padding: 80px 112px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: #000000;
  font-style: normal;
}

.expert-info__steps-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.expert-info__title {
  margin: 0;
  margin-bottom: 82px;
  padding: 0;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.expert-info__step-image-container {
  width: 100%;
  background-color: #fff;
  display: flex;
  border-radius: 32px;
}

.expert-info__steps-list {
  margin: 0;
  padding: 56px 24px;
  width: 70%;
  list-style-type: none;
}

.expert-info__step {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.expert-info__step:last-of-type {
  margin-bottom: 0;
}

.expert-info__step-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.expert-info__step-number {
  margin: 0;
  margin-right: 24px;
  padding: 0;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.expert-info__step-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.expert-info__image {
  object-fit: cover;
  object-position: center;
  width: 35%;
  min-height: 100%;
  background-color: #37935b;
  border-radius: 0 32px 32px 0;
}

@media (max-width: 1200px) {
  .expert-info__step-title {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .expert-info {
    padding: 80px 60px 0;
  }

  .expert-info__step-image-container {
    flex-direction: column;
    border-radius: 24px;
  }

  .expert-info__steps-list {
    width: 100%;
    padding: 40px 20px;
  }

  .expert-info__image {
    width: 100%;
    max-height: 267px;
    border-radius: 0 0 24px 24px;
  }

  .expert-info__title {
    margin-bottom: 40px;
    font-size: 50px;
  }

  .expert-info__step {
    margin-bottom: 40px;
    width: 100%;
  }

  .expert-info__step-container {
    width: 100%;
    justify-content: start;
  }

  .expert-info__step:last-of-type {
    margin-bottom: 0;
  }

  .expert-info__step-title {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .expert-info {
    padding: 80px 40px 0;
    margin-bottom: 68px;
  }

  .expert-info__step-image-container {
    flex-direction: column;
  }

  .expert-info__steps-list {
    padding: 28px 12px;
  }

  .expert-info__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .expert-info__step {
    margin-bottom: 30px;
  }

  .expert-info__step:last-of-type {
    margin-bottom: 0;
  }

  .expert-info__step-title {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .expert-info {
    padding: 68px 8px 0;
  }

  .expert-info__steps-list {
    padding: 16px 12px;
  }

  .expert-info__title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .expert-info__step {
    margin-bottom: 20px;
  }

  .expert-info__step:last-of-type {
    margin-bottom: 0;
  }

  .expert-info__step-number {
    margin-right: 16px;
  }

  .expert-info__step-title {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .expert-info__step-number {
    margin-right: 12px;
    min-width: 40px;
    height: 40px;
    font-size: 24px;
  }

  .expert-info__step-title {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }
}
