.quiz {
	margin: 132px auto;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.quiz__conteiner {
	width: 100%;
	padding: 0 112px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.quiz__header {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.quiz__title {
	font-family: "YS Text";
	font-weight: 500;
	font-size: 48px;
	line-height: 48px;
	text-align: center;
	letter-spacing: -0.02em;
	margin-bottom: 12px;
}
.quiz__subtitle {
	font-family: "YS Text";
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #858585;
	margin-bottom: 56px;
}
.quiz__cards {
	display: flex;
	width: 100%;
	justify-content: space-between;
	border-radius: 32px;
	gap: 32px;
}
.quiz__card {
	flex: 0 1 33.333%;
	padding: 32px 41px 96px 24px;
	background: #ffffff;
	border-radius: 32px;
}

/* стили для закрытых карточек */

.quiz__card-close {
	display: flex;
	justify-content: center;
	align-items: center;
}

.quiz__card-close .card__conteiner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card__title-disconnect {
	text-align: center;
	color: #858585;
}

/* конец стилей для закрытой карточки */

.disconnect {
	display: none;
}

.quiz__card-first {
}
.card__namber {
}
.cooperation-terms__pixel-icon {
}
.card__title {
	font-family: "YS Text";
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	align-items: center;
	letter-spacing: -0.02em;
	margin: 32px 0;
}
.card__subtitle {
	font-family: "YS Text";
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
}

.card__buttons {
}
.card__button {
	display: inline-block;
	border-radius: 120px;
	background: inherit;
	padding: 12px 20px;
	border: 0;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	border: 2px solid #858585;
	margin-bottom: 12px;
	color: #858585;
	cursor: pointer;
}

.card__button:hover,
.card__button:active {
	color: #000;
	border: 2px solid #000;
}

.button-pressed {
	color: #000;
	border: 2px solid #000;
}

.card__button-end,
.card-result__buttons-more {
	width: 100%;
	display: inline-block;
	border-radius: 120px;
	background: #eaeaea;
	padding: 12px 20px;
	border: 0;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	/* border: 2px solid #858585; */
	margin-bottom: 12px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

.card__button-end:hover,
.card-result__buttons-more:hover {
	background: #555555;
}

.card__button-end:active,
.card-result__buttons-more:active {
	background: #373737;
}

.button-end__active {
	background: #000000;
}

.quiz__card-second {
}
.quiz__card-third {
}

/* карточка с результатами */

.quiz__card-result {
	width: 100%;
	padding: 32px 36px;
	background: #ffffff;
	border-radius: 32px;
}

.card-result__conteiner {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.card-result__conteiner > li {
	padding: 12px 0 24px;
}

.card-result__item__title {
	font-family: "YS Text";
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 8px;
}

.card-result__item__text {
	font-family: "YS Text";
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: flex;
	gap: 20px;
	color: #858585;
}

.card-result__item__text > p {
	margin: 0;
}

.card-result__buttons {
	display: flex;
	justify-content: center;
	margin: 48px auto 0;
	gap: 10px;
}

.card-result__buttons-more {
	width: auto;
	font-family: "YS Text";
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	padding: 20px 56.5px;
}

.card-result__buttons-repeat {
	display: inline-block;
	border-radius: 120px;
	background: inherit;
	padding: 20px 38x;
	border: 0;
	font-weight: 500;
	border: 2px solid transparent;
	font-size: 14px;
	text-decoration: none;
	margin-bottom: 12px;
	color: #858585;
	cursor: pointer;
}

.card-result__buttons-repeat:hover,
.card-result__buttons-repeat:active {
	border: 2px solid #858585;
}

.card-result__item {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
}
