.resp {
  margin: 0px 0 0 0;
  padding: 212px 112px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.resp__title {
  margin: 0 0 66px 0;
  padding: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
  max-width: 850px;
}
.resp__list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.resp__item {
  margin: 0;
  height: 100%;
  padding: 32px 24px;
  width: 100%;
  background: #fff;
  border-radius: 32px;
  max-width: 594px;
  list-style: none;
}

.resp__itemTitle {
  margin: 0;
  padding: 0 0 16px 0;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}
.resp__itemText {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .resp__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1000px) {
  .resp {
    padding: 80px 60px;
  }
  .resp__title {
    max-width: 500px;
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .resp {
    border-radius: 40px;
  }
  .resp__list {
    grid-template-columns: 1fr;
  }
  .resp__item {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .resp__title {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .resp__itemTitle {
    font-size: 25px;
  }
  .resp__itemText {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .resp {
    padding: 80px 40px;
  }
}

@media (max-width: 500px) {
  .resp {
    border-radius: 30px;
  }
}
@media (max-width: 700px) {
  .resp__title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .resp__itemTitle {
    font-size: 20px;
  }
  .resp__itemText {
    font-size: 14px;
  }
}
