.resp {
  margin: -80px 0;
  padding: 80px 120px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  position: relative;
  border-radius: 80px;
}
.resp__title {
  margin: 0 0 66px 0;
  padding: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 1;
}
.resp__list {
  margin: 0;
  padding: 0;
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.resp__item {
  margin: 0;
  padding: 32px 24px;
  background: #f5f5f5;
  border-radius: 32px;
  max-width: 594px;
  list-style: none;
}
.resp__gridWrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
}
.resp__pic {
  position: absolute;
  right: 120px;
  top: 180px;
}
.resp__itemTitle {
  margin: 0;
  padding: 0 0 12px 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
}
.resp__itemText {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

@media (max-width: 1200px) {
  .resp__title {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .resp__pic {
    right: 80px;
    top: 130px;
    transform: scale(0.8);
  }
}
@media (max-width: 1000px) {
  .resp {
    padding: 80px 60px;
  }
  .resp__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .resp__pic {
    right: 60px;
    top: 130px;
    transform: scale(0.6);
  }
}
@media (max-width: 800px) {
  .resp {
    border-radius: 40px;
  }
  .resp__list {
    grid-template-columns: 1fr;
  }
  .resp__item {
    width: 100%;
  }
  .resp__pic {
    right: -20px;
    top: 70px;
    transform: scale(0.4);
  }
}
@media (max-width: 700px) {
  .resp__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .resp__pic {
    right: -40px;
    top: -20px;
  }
  .resp__itemTitle {
    font-size: 25px;
  }
  .resp__itemText {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .resp {
    padding: 80px 40px;
  }
  .resp__pic {
    right: -80px;
    top: 0px;
    transform: scale(0.3);
  }
}

@media (max-width: 500px) {
  .resp {
    border-radius: 30px;
  }
  .resp__pic {
    right: -100px;
    top: 15px;
  }
}
@media (max-width: 700px) {
  .resp__title {
    font-size: 25px;
    margin-bottom: 40px;
  }
  .resp__pic {
    /* right: -40px; */
    top: 0px;
  }
  .resp__itemTitle {
    font-size: 20px;
  }
  .resp__itemText {
    font-size: 14px;
  }
}
