@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/content/content.css);
@import url(../blocks/cooperation-terms/cooperation-terms.css);
@import url(../blocks/expert-info/expert-info.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/header/header.css);
@import url(../blocks/apply/apply.css);
@import url(../blocks/page/page.css);
@import url(../blocks/root/root.css);
@import url(../blocks/resp/resp.css);
@import url(../blocks/mentorVSreviewer/mentorVSreviewer.css);
@import url(../blocks/stories/stories.css);
@import url(../blocks/quiz/quiz.css);
@import url(../blocks/questions/questions.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/vacancies/vacancies.css);
@import url(../blocks/hover/hover.css);
/* @import url(../../node_modules/swiper/swiper-bundle.css); */
