.cooperation-terms {
  box-sizing: border-box;
  margin: 0;
  padding: 132px 112px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  color: #000000;
  font-weight: 500;
  font-style: normal;
}

.cooperation-terms__title {
  margin: 0 auto 48px;
  font-size: 48px;
  line-height: 1.2;
}

.cooperation-terms__cards-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cooperation-terms__cards-list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 168px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.cooperation-terms__card {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 24px;
  width: 100%;
  min-height: 64px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 32px;
}

.cooperation-terms__pixel-icon {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  max-width: 60px;
  max-height: 60px;
}

.cooperation-terms__card-title {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 56px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.cooperation-terms__button {
  margin: 56px auto 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  min-height: 60px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  flex-shrink: 0;
  background: #000000;
  backdrop-filter: blur(6px);
  border-radius: 120px;
}

.cooperation-terms__button:hover {
  background-color: #484242;
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 1500px) {
  .cooperation-terms__cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .cooperation-terms {
    padding: 70px 60px;
  }

  .cooperation-terms__title {
    margin: 0 auto 35px;
    font-size: 35px;
  }

  .cooperation-terms__cards-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .cooperation-terms__card {
    padding: 16px 20px;
    border-radius: 24px;
    flex-direction: row;
    align-items: center;
  }

  .cooperation-terms__pixel-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .cooperation-terms__button {
    margin: 42px auto 0;
    width: 280px;
    font-size: 14px;
    border-radius: 90px;
  }
}

@media (max-width: 600px) {
  .cooperation-terms {
    padding: 50px 40px;
  }

  .cooperation-terms__title {
    margin: 0 auto 25px;
    font-size: 25px;
  }

  .cooperation-terms__cards-list {
    gap: 16px;
  }

  .cooperation-terms__card {
    padding: 12px 16px;
    border-radius: 16px;
  }

  .cooperation-terms__button {
    margin: 32px auto 0;
    width: 200;
    font-size: 12px;
    border-radius: 60px;
  }

  .cooperation-terms__pixel-icon {
    max-width: 40px;
    max-height: 40px;
  }

  .cooperation-terms__card-title {
    font-size: 16px;
  }
}


@media (max-width: 1000px) {
  .expert-info {
    padding: 70px 60px;
  }

  .expert-info__step-image-container {
    flex-direction: column;
    border-radius: 32px;
  }

  .expert-info__steps-list {
    width: 100%;
    padding: 40px 20px;
  }

  .expert-info__image {
    width: 100%;
    max-height: 200px;
    border-radius: 0 0 32px 32px;
  }

  .expert-info__title {
    margin-bottom: 40px;
    font-size: 50px;
  }

  .expert-info__step {
    margin-bottom: 40px;
    width: 100%;
  }

  .expert-info__step-container {
    width: 100%;
    justify-content: start;
  }

  .expert-info__step:last-of-type {
    margin-bottom: 0;
  }

  .expert-info__step-number {
    margin-right: 20px;
    min-width: 45px;
    height: 45px;
    font-size: 30px;
  }

  .expert-info__step-title {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .expert-info {
    padding: 50px 40px;
  }

  .expert-info__step-image-container {
    flex-direction: column;
    border-radius: 16px;
  }

  .expert-info__steps-list {
    padding: 28px 12px;
  }

  .expert-info__image {
    width: 100%;
    max-height: 130px;
    border-radius: 0 0 16px 16px;
  }

  .expert-info__title {
    margin-bottom: 20px;
    font-size: 32px;
  }

  .expert-info__step {
    margin-bottom: 30px;
  }

  .expert-info__step:last-of-type {
    margin-bottom: 0;
  }

  .expert-info__step-number {
    margin-right: 16px;
    min-width: 30px;
    height: 30px;
    font-size: 20px;
  }

  .expert-info__step-title {
    font-size: 20px;
  }
}