.cooperation-terms {
  box-sizing: border-box;
  margin: 0;
  padding: 132px 112px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #F5F5F5;
  color: #000000;
  font-weight: 500;
  font-style: normal;
}

.cooperation-terms__title {
  margin: 0 auto 48px;
  font-size: 48px;
  line-height: 1.2;
}

.cooperation-terms__cards-container {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.cooperation-terms__cards-list {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 168px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.cooperation-terms__card {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px 24px;
  width: 100%;
  min-height: 64px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 32px;
}

.cooperation-terms__pixel-icon {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  max-width: 60px;
  max-height: 60px;
}

.cooperation-terms__card-title {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 56px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

@media (max-width: 1500px) {
  .cooperation-terms__cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1000px) {
  .cooperation-terms {
    padding: 70px 60px;
  }

  .cooperation-terms__title {
    margin: 0 auto 35px 0;
    font-size: 35px;
  }

  .cooperation-terms__cards-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    background-color: #fff;
    border-radius: 24px;
  }

  .cooperation-terms__card {
    padding: 16px 20px;
    flex-direction: row;
    align-items: center;
  }

  .cooperation-terms__pixel-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .cooperation-terms {
    padding: 50px 40px;
  }

  .cooperation-terms__title {
    margin: 0 auto 25px 0;
    font-size: 30px;
  }

  .cooperation-terms__cards-list {
    gap: 16px;
  }

  .cooperation-terms__card {
    padding: 12px 16px;
  }

  .cooperation-terms__card-title {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .cooperation-terms {
    padding: 68px 8px;
  }

  .cooperation-terms__title {
    margin: 0 auto 25px 0;
    font-size: 25px;
  }

  .cooperation-terms__cards-list {
    gap: 0;
  }

  .cooperation-terms__card {
    padding: 12px 16px;
  }
}

@media (max-width: 400px) {
  .cooperation-terms__pixel-icon {
    margin-right: 12px;
    max-width: 40px;
    height: 40px;
  }
}