.mentorVSreviewer {
  margin: -80px 0;
  padding: 0;
  width: 100%;
  border-radius: 80px;
  position: relative;
  min-height: 900px;
  background: url(../../img/mentor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mentorVSreviewer__title {
  margin: 0;
  padding: 0;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.06;
  color: #fff;
  max-width: 600px;
  position: absolute;
  top: 56px;
  left: 112px;
}
.mentorVSreviewer__iconContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 51px;
  right: 24px;
  gap: 13px;
}
.mentorVSreviewer__icon {
  margin: 0;
  padding: 0;
  width: 70px;
}
.mentorVSreviewer__icon_style_fade {
  opacity: 50%;
}
.mentorVSreviewer__quoteContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  right: 112px;
  bottom: 156px;
  align-items: flex-end;
  flex-shrink: 1;
}
.mentorVSreviewer__quoteContainer_type_left {
  right: unset;
  left: 112px;
  align-items: flex-start;
}
.mentorVSreviewer__quote {
  margin: 0;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  max-width: 432px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
}
.mentorVSreviewer__quote_number_1 {
  max-width: 407px;
}
.mentorVSreviewer__quote_number_2 {
  max-width: 464px;
}
.mentorVSreviewer__quote_number_3 {
  max-width: 406px;
}
.mentorVSreviewer__quote_number_4 {
  max-width: 398px;
}
.mentorVSreviewer__quoteTitle {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
}
.mentorVSreviewer__quoteText {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
}
.mentorVSreviewer__quoteText_style_bold {
  font-weight: 500;
}
.mentorVSreviewer_picture {
  max-width: 100%;
  height: auto;
  max-width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .mentorVSreviewer {
    border-radius: 20px;
    margin: -20px 0;
    min-height: 689px;
  }
  .mentorVSreviewer__quote_number_1 {
    width: 268px;
  }
  .mentorVSreviewer__quote_number_2 {
    width: 256px;
  }
  .mentorVSreviewer__quote_number_3 {
    width: 272px;
  }
  .mentorVSreviewer__quote_number_4 {
    width: 202px;
  }
  .mentorVSreviewer__title {
    font-size: 30px;
    line-height: 1.2;
    max-width: 300px;
    position: absolute;
    top: 60px;
    left: 8px;
  }
  .mentorVSreviewer__quoteContainer {
    left: 8px;
    bottom: 26px;
    align-items: flex-start;
    max-width: 300px;
  }
  .mentorVSreviewer__quoteContainer_type_left {
    left: 8px;
  }
  .mentorVSreviewer__iconContainer {
    bottom: 24px;
    right: 8px;
    gap: 12px;
    justify-content: flex-end;
  }
  .mentorVSreviewer__quoteTitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .mentorVSreviewer__quoteText {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .mentorVSreviewer__quote {
    padding: 8px 12px;
  }
}
