.header {
  margin: 0;
  padding: 0 112px 280px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__navbar {
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  z-index: 3;
}
.header__navbarContainer {
  position: absolute;
  top: 12px;
  right: 112px;
  left: 112px;
  z-index: 3;
}
.header__logo {
  margin: 0;
  padding: 0;
  width: 165px;
  height: 30px;
}
.header__linksBlock {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px;
}
.header__link {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.01em;
}
.header__navBlockButton {
  margin: 0;
  padding: 8px 12px 7px 12px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 16px;
}
.header__link:hover {
  color: #37935b;
}
.header__navBlockButton:hover {
  color: #37935b;
  border-color: #37935b;
}
.header__title {
  margin: 232px 0 0 0;
  padding: 0;
  max-width: 946px;
  font-weight: 500;
  font-size: 80px;
  line-height: 72px;
  color: #fff;
  pointer-events: none;
  z-index: 2;
}
.header__subtitle {
  pointer-events: none;
  margin: 20px 0 56px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #fff;
  max-width: 510px;
  z-index: 2;
}
.header__button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #29cb64;
  width: 370px;
  height: 75px;
  border-radius: 38px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #000;
  z-index: 2;
  flex-shrink: 0;
}
.header__button:hover {
  background-color: #37935b !important;
}

.header span {
  display: block;
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  background: url(../../img/desktop_picture.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  pointer-events: none;
}
.header__burgerButton {
  margin: 0;
  padding: 0;
  border: none;
  width: 36px;
  height: 36px;
  display: none;
  align-items: center;
  justify-content: center;
  background: none;
  cursor: pointer;
}
.header__navbarWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .header__burgerButton {
    display: flex;
    align-self: start;
  }
  .header__navbarWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  .header__linksBlock {
    align-items: flex-start;
    flex-direction: column;
    gap: 28px;
    display: none;
  }
  .header__navBlockButton {
    display: none;
  }
  .header__linksBlock_active {
    display: flex;
  }
}
@media (max-width: 1000px) {
  .header__navbarContainer {
    left: 60px;
    right: 60px;
  }
  .header {
    padding: 0 60px 200px;
  }
  .header__title {
    font-size: 70px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .header__button {
    width: 230px;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
  }
  .header__logo {
    width: 120px;
    height: 23px;
  }
  .header span {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 650px) {
  .header {
    background: url(../../img/mobile_YP.png);
  }
  .header span {
    display: none;
  }
}

@media (max-width: 600px) {
  .header__navbarContainer {
    left: 8px;
    right: 8px;
  }
  .header {
    padding: 0 40px 200px;
    min-height: 655px;
    padding: 0 8px 12px;
    background: url(../../img/mobile_YP.png);
  }
  .header__title {
    font-size: 50px;
    margin: 150px 0 0 0;
    font-size: 44px;
    line-height: 1.09;
  }
  .header__subtitle {
    font-size: 14px;
    margin: 12px 0 32px 0;
    font-size: 16px;
    line-height: 1.4;
    max-width: 334px;
  }
  .header__button {
    width: 190px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 1;
    width: 280px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.25;
  }
}
