.header {
  margin: 0;
  padding: 12px 120px 310px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.header__navbar {
  margin: 0 0 160px 0;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  z-index: 2;
}
.header__logo {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 163px;
  max-height: 30px;
}
.header__linksBlock {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 12px;
}
.header__link {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.29;
  text-decoration: none;
  cursor: pointer;
}
.header__navBlockButton {
  margin: 0 12px;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #000;
  border-radius: 16px;
}
.header__link:hover {
  color: #37935b;
}
.header__navBlockButton:hover {
  color: #37935b;
  border-color: #37935b;
}
.header__title {
  margin: 0;
  padding: 0;
  max-width: 510px;
  font-weight: 500;
  font-size: 100px;
  line-height: 1;
  color: #fff;
  pointer-events: none;
  z-index: 2;
  max-width: 430px;
}
.header__subtitle {
  pointer-events: none;
  margin: 20px 0 56px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  max-width: 445px;
  z-index: 2;
}
.header__button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #29cb64;
  width: 372px;
  height: 77px;
  border-radius: 38px;
  text-decoration: none;
  font-weight: 500;
  font-size: 21px;
  line-height: 1.2;
  color: #000;
  z-index: 2;
  flex-shrink: 0;
}
.header__button:hover {
  background-color: #37935b !important;
}

.header span {
  display: block;
  position: absolute;
  width: 200px;
  height: 200px;
  background: url(../../img/desktop_picture.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  pointer-events: none;
}
.header__burgerButton {
  margin: 0;
  padding: 0;
  border: none;
  width: 36px;
  height: 36px;
  display: none;
  align-items: center;
  justify-content: center;
  background: none;
}
.header__navbarWrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  /* .header__navbar {
    align-items: flex-start;
  } */
  .header__burgerButton {
    display: flex;
    align-self: start;
  }
  .header__navbarWrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
  }
  .header__linksBlock {
    align-items: flex-start;
    flex-direction: column;
    gap: 28px;
    display: none;
  }
  .header__navBlockButton {
    display: none;
  }
  .header__linksBlock_active {
    display: flex;
  }
}
@media (max-width: 1000px) {
  .header {
    padding: 12px 60px 200px;
  }
  .header__title {
    font-size: 70px;
  }
  .header__subtitle {
    font-size: 18px;
  }
  .header__button {
    width: 230px;
    height: 50px;
    border-radius: 25px;
    font-size: 14px;
  }
  .header__logo {
    max-width: 120px;
    max-height: 23px;
  }
  .header span {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 12px 40px 200px;
    min-height: 655px;
  }
  .header__title {
    font-size: 50px;
  }
  .header__subtitle {
    font-size: 14px;
  }
  .header__navbar {
    margin: 0 0 100px 0;
  }
  .header__button {
    width: 190px;
    height: 50px;
    border-radius: 25px;
    font-size: 12px;
    line-height: 1;
  }
}
@media (max-width: 600px) {
  .header {
    padding: 12px 8px;
    background: url(../../img/mobile_YP.png);
  }
  .header__navbar {
    margin-bottom: 80px;
    padding: 12px;
  }
  .header__title {
    font-size: 44px;
    line-height: 1.09;
  }
  .header__subtitle {
    margin: 12px 0 32px 0;
    font-size: 16px;
    line-height: 1.4;
    max-width: 334px;
  }
  .header__button {
    width: 280px;
    height: 50px;
    border-radius: 25px;
    font-size: 16px;
    line-height: 1.25;
  }
  .header span {
    display: none;
  }
}
